* {
    box-sizing: border-box;
}


/* Creates styling for the body of our page, mostly move everything to
the center both vertically and horizontally*/

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}


/* Creates a container for our sqaures, sets it to be a flex container
which adds content horizontally instead of vertically, aligns things to
the center, wraps content, and set a width so we know our sqaures fit right*/

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 400px;
}


/* Creates our square class, this defines the default look of our squares*/

.square {
    background-color: #1d1d1d;
    box-shadow: 0 0 2px #000;
    height: 16px;
    width: 16px;
    margin: 2px;
    transition: 2s ease;
}


/* Makes our transition happen instantly when we hover over.  The default
is set to 2s above so it fades gradually when the mouse is not hovering over
the element.*/

.square:hover {
    transition-duration: 0s;
}